# Node and package management
node_modules/
.env

# Angular build outputs and caches
frontend/dist/
frontend/.angular/cache/
out-tsc/
tmp/
bazel-out/

# AWS SAM artifacts
.aws-sam/

# IDEs and editors
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-error.log*

# Test coverage
coverage/
*.lcov

# Visual Studio Code settings

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/


# Vercel
.vercel/
.vercel
